
<main class="structure">
  <h3>Create an awesome event!</h3>
  <form class="event-form" action="/events/create" method="POST" enctype="multipart/form-data">
    <label for="title">Event title</label>
    <input type="text" name="title" id="title" required placeholder="Pizza night">
  
    <label for="location">Where?</label>
    <input type="text" name="location" id="location" required placeholder="Barcelona">

    <label for="date">When?</label>
    <input type="date" name="date" id="date" required >

    <label for="attendees">How many people can join?</label>
    <input type="number" name="attendees" id="attendees" placeholder="5">

    <label for="description">What makes the event special?</label>
    <input type="text" name="description" id="description" placeholder="For cat lovers, we have 5 cats!">

    <label for="duration">How long does it last?</label>
    <input type="number" name="duration" id="duration" placeholder="30">

    <label for="menu">Menu</label>
    <input type="string" name="menu" id="menu" placeholder="Caprese Salad as a starter and Homemade vegan pizza as main dish">

    <label for="image">Add image</label>
    <input type="file" name="image"/>

    <button type="submit">Add an Event</button>
  </form>
</main>
{{> footer}}
