{{> navbar}}
<main class="structure">
<a href="/users/profile"><</a>
<h3>Event create page</h3>
<form class="event-form" action="/events/create" method="POST" enctype="multipart/form-data">
  <label for="title">title</label>
  <input type="text" name="title" id="title" required placeholder="Pizza night">
  
  <label for="location">Location</label>
  <input type="text" name="location" id="location" required placeholder="Barcelona">

  <label for="date">Date</label>
  <input type="date" name="date" id="date" required >

  <label for="attendees">Attendees</label>
  <input type="number" name="attendees" id="attendees" placeholder="5">

  <label for="description">Description</label>
  <input type="text" name="description" id="description" placeholder="esto mola mazo">

  <label for="duration">Duration</label>
  <input type="number" name="duration" id="duration" placeholder="30">

  <label for="menu">Menu</label>
  <input type="string" name="menu" id="menu" placeholder="homemade vegan pizza">


  <label for="image">Add image</label>
  <input type="file" name="image"/>

  <button type="submit">Add an Event</button>
</form>

</main>