<footer>
  <ul>
    <li><a href="/homepage"><img src="../images/icon-home.png" class="icon-style" alt="home icon"></a></li>
    <li><a href="/users/profile"><img src="../images/icon-profile1.png" class="icon-style" alt="profile icon"></a></li>
    <li><a href="/events/create"><img src="../images/icon-add.png" class="icon-style" alt="profile create"></a></li>
  </ul>
</footer>



