<nav>
  <ul>
    <li><img src="../images/logo.jpg" alt="Tomeu logo"></li>
    <li><img src="../images/profile-icon.png" alt="profile icon"></li>
  </ul>
</nav>

<section>
  <h2>Tell your story through a dinner!</h2>
  <img src="../images/dinner.jpg" alt="dinner with friends">
</section>