<nav>
  <ul>
    <li><img src="../images/logo.jpg" alt="Tomeu logo" width="70px"></li>
    <li><img class="resizeplus" src="../images/profile-icon.png" alt="profile icon"></li>
  </ul>
</nav>

<section class="home-header">
  <h3>Tell your story through a dinner!</h3>
  <img class="resize" src="../images/dinner.jpg" alt="dinner with friends">
</section>

<section class="container">
  <article class="grid-container">
    <h3 class="title">titulo</h3>
    <img class="image" src="../images/default-img-event.jpg" width="200px" alt="placeholder">
    <div class="info">
      <p>location</p>
      <p>date</p>
    </div>
  </article>
</section>