<nav>
  <ul>
    <li><img src="../images/logo.jpg" alt="Tomeu logo" width="70px"></li>
    <li><a href="/users/profile"><img class="resizeplus" src="../images/profile-icon.png" alt="profile icon"></a></li>
    <form action="/auth/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </ul>
</nav>

<section class="home-header">
  <h3>Tell your story through a dinner!</h3>
  <img class="resize" src="../images/dinner.jpg" alt="dinner with friends">
</section>
{{#each events}}
<section class="container">
  <article class="grid-container">
    <h3 class="title">{{title}}</h3>
    <img class="image" src="../images/default-img-event.jpg" width="200px" alt="placeholder">
    <div class="info">
      <p>location:{{location}}</p>
      <p>date: {{date}}</p>
    </div>
  </article>
</section>
  {{/each}}
