<section class="splash">
<h1 class="index-logo">Tomeu</h1>
<video id="myVideo" src="../videos/intro.mp4" muted="muted" autoplay="autoplay" loop></video>
  {{#unless currentUser}}
    <a  href="/auth/signup"><button class="intro">Sign up</button></a>
    <a  href="/auth/login"><button class="intro">Log in</button></a>
  {{/unless}}
  {{#if currentUser}}
    <form  action="/auth/logout" method="POST">
      <button  type="submit">Logout</button>
    </form>
  {{/if}}
</section>
