<article class="login">
  <form action="/auth/login" method="POST">
    <label for="username">Username</label>
    <input class="button" for="text" name="username" id="username" required placeholder="Username">
    <label for="password">Password</label>
    <input class="button" type="password" name="password" id="password" id="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</article>