<div class="welcome-title">
  <h2>Welcome,</h2>
  <h3>Sign up to get started!</h3>
</div>
<video id="myVideo" class="opacity" src="../videos/intro.mp4" muted="muted" autoplay="autoplay" loop></video>
  <form class="signup" action="/auth/signup" method="POST">
    <label class="signup-label" for="username">Username</label>
    <input class="button margin-input" type="text" name="username" id="username" required placeholder="Username">
    <label class="signup-label" for="password">Password</label>
    <input class="button margin-input" type="password" name="password" id="password" required placeholder="Password">
    <button class="margin-button margin-bottom" type="submit">Join Us!</button>
    <p> I am already a member <a href="/auth/login">Log in</a></p>
  </form>

