<h1>Update your Profile! </h1>

<form action="update-profile" method="POST" enctype="multipart/form-data">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" value="{{username}}">

  <label for="password">Password</label>
  <input type="password" name="password" id="password" value="{{password}}">
  
  <label for="country">Country</label>
  <input type="text" name="country" id="country" placeholder="Spain">

  <label for="age">Age</label>
  <input type="number" name="age" id="age" placeholder="21">

  <label for="about">About me</label>
  <input type="text" name="about" id="about">

  <label for="image">Add image</label>
  <input type="file" name="image"/>

  <button type="submit">Update your profile!</button>
</form>