/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFBCAB;
  width:100%;
  height:100vh;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 80%;
  background-color: #FFFAFA;
  color: black;
  border: 1px solid #fff;
  padding:5%; 
  border-radius: 3%;
}

.button.top{
  margin:8% 0;
}
.splash{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  height: 100vh;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:black;
}
.button-alt {
  color: white;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}

.username{
  border-radius: 5%;
  padding: 1%;
  font-size: 50px;
  width:80%
}

article.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}
